{% extends 'base.html' %}

{% block head %}
<style>
#calendly iframe {
	display: flex;
	min-height: 470px;
}
</style>
{% endblock %}

{% block nav %}
{% include 'nav.html' %}
{% endblock %}

{% block content %}
<div class="row mt-5 mx-auto">
	<div class="col-10 col-md-3 offset-1 mb-5">
		<div class="card">
			<img class="card-img-top" src="{{ url_for('static', filename='profile_picture.jpg')}}" alt="Profile picture">
			<div class="card-body">
				<h5 class="card-title">Book a free meeting</h5>
				<p class="card-text">Book a free video meeting with me if you're interested in how I tutor and what I have to offer. </p>
				<p class="card-text">The meeting is entirely informal and you have no obligation to book tutorials after meeting with me, but I want to give you the chance to try out the lesson space and ask me any questions you may have.</p>		
			</div>
		</div>							
	</div>
	<div class="col-10 offset-1 col-md-5 offset-md-0">
		<div class="card mb-4">
			<div class="card-header">
				Book 
			</div>
			<div class="card-body p-0" id="calendly">
			</div>
		</div>	
	</div>				
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script> 
<script>
Calendly.initInlineWidget({
 url: 'https://calendly.com/bamiesking/freemeeting?hide_event_type_details=1',
 parentElement: document.getElementById('calendly'),
 prefill: {},
 utm: {}
});
</script>
{% endblock %}