{% extends 'base.html' %}

{% block nav %}
{% include 'nav.html' %}
{% endblock %}

{% block content %}
<div class="row mt-5 mx-auto">
	<div class="col-10 col-md-4 offset-1 mb-5">
	{% include 'about_me_card.html' %}						
	</div>
	<div class="col-10 offset-1 col-md-3 offset-md-0">
		<div class="card mb-4">
			<div class="card-header">
				Contact
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">+44 (0) 7720 642878</li>
				<li class="list-group-item">bamiesking@gmail.com</li>
				<a class="list-group-item" href="https://github.com/bamiesking">GitHub</a>
				<a class="list-group-item" href="https://linkedin.com/in/bamiesking">LinkedIn</a>
			</ul>	
		</div>	
		<!--<div class="card mb-4">
			<div class="card-header">
				Web services
			</div>
			<div class="card-body">
				<div class="mx-auto">
					<attr title="HTML5"><img src="https://upload.wikimedia.org/wikipedia/commons/6/61/HTML5_logo_and_wordmark.svg"  style="height: 50px; width: 50px;"/></attr>
					<attr title="CSS3"><img src="https://upload.wikimedia.org/wikipedia/commons/d/d5/CSS3_logo_and_wordmark.svg"  style="height: 50px; width: 50px;"/></attr>
					<attr title="JavaScript"><img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png"  style="height: 50px; width: 50px;"/></attr>
					<attr title="php"><img src="https://www.php.net/images/logos/new-php-logo.svg"  style="height: 50px; width: 50px;"/></attr>
					<attr title="Python"><img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg"  style="height: 50px; width:</attr> 50px;"/></attr>
				</div>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Proficient in modern web development technologies</li>
				<li class="list-group-item">Extensive experience with Python in data collection and manipulation, and dynamic web services.</li>
			</ul>		
			<div class="card-footer text-center">
				<div class="btn-group">
		 			<a href="/portfolio" class="btn btn-outline-primary">Web portfolio</a>
		 			<a href="/web" class="btn btn-outline-secondary">Learn more</a>
		 		</div>
			</div>
		</div>	-->
		<div class="card mb-4">
			<div class="card-header">
				Tutoring
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Over 500 completed sessions and 100% five-star reviews</li>
				<li class="list-group-item">Over 3 years tutoring experience </li>
				<li class="list-group-item">Runner-up for Best Grade Improvement tutor award 2019</li>
				<li class="list-group-item">Custom panel to keep students engaged and in the loop</li>
			</ul>
			<div class="card-footer text-center">
				<div class="btn-group">
		 			<a href="https://www.mytutor.co.uk/tutors/63661/" class="btn btn-outline-primary">MyTutor Profile</a>
		 			<!--<a href="https://bamiesking.uk/panel/6530b9cb087946d58a15c78b4ff0dc14" class="btn btn-outline-info px-auto">Panel Demo</a>-->
		 			<a href="/tutoring" class="btn btn-outline-secondary">Learn more</a>
		 		</div>
			</div>
		</div>
	</div>				
	<div class="col-10 offset-1 col-md-3 offset-md-0">
		<div class="card mb-4">
			<div class="card-header">
				My projects
			</div>
			<ul class="list-group list-group-flush">
				<a href="{{ url_for('sisyphus.index') }}" class="list-group-item list-group-item-action">Sisyphus Cooling</a>
				<li class="list-group-item">DurHack 2020</li>
				<a href="https://joannecoaching.com/" class="list-group-item list-group-item-action">Joanne Thompson Coaching</a>
				<a href="{{ url_for('timetable.index') }}" class="list-group-item list-group-item-action">Durham Timetable Downloader</a>
				<a href="{{ url_for('panel.panel', panel_id='6530b9cb087946d58a15c78b4ff0dc14') }}" class="list-group-item list-group-item-action">Tutoring Panel</a>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
