{% extends 'base.html' %}

{% block nav %}
{% include 'nav.html' %}
{% endblock %}

{% block content %}
<div class="row mt-5 mx-auto">
	<div class="col-10 col-md-4 offset-1 mb-5">
	{% include 'about_me_card.html' %}								
	</div>
	<div class="col-10 offset-1 col-md-6 offset-md-0">
		<div class="card mb-4">
			<div class="card-header">
				Tutoring
			</div>
			<div class="card-body">
				<p>I have extensive experience tutoring Maths and Physics across a range of levels and specifications.</p>
				<p>In 2019, I was shortlisted and named runner-up for the MyTutor Best Grade Improvement tutor award, as one student that year had gone from consistently working at a U at the start of Year 13 Physics to achieving a C at the end of the year.</p>
				<p>My approach to tutoring centers largely around working through practise problems, and developing exam technique. I provide students with the necessary resources to cover content, and I'm adept at deconstructing contepts in a way that suits individual students and their learning styles. </p>
				<p>I make it clear from day 1 that there is never any reason not to speak up when something doesn't make sense. Ultimately, my priority is to help you make as much improvement as possible and so we both lose out if you aren't comfortable.</p>
				<p>To complement my students in their learning, I have built a custom panel (<a href="{{ url_for('panel.panel', panel_id='6530b9cb087946d58a15c78b4ff0dc14')}}">demo here</a>) where they can view course notes, assignments, assessments, upcoming sessions, returned work and overall course progress. Any requests for additions to the panel are welcome.</p>
				<p>To get started, use the buttons below to book a free video meeting, or book a tutorial by registering for an account.</p>
			</div>
			<div class="card-footer text-center">
				<div class="btn-group">
		 			<a href="{{ url_for('main.free_meeting') }}" class="btn btn-outline-primary">Book a Free Meeting</a>
		 			<a href="{{ url_for('main.tutorial') }}" class="btn btn-outline-secondary">Book a Tutorial</a>
		 		</div>
			</div>
		</div>	
	</div>				
</div>
{% endblock %}