{% extends 'base.html' %}

{% block nav %}
{% include 'nav.html' %}
{% endblock %}

{% block content %}
<div class="row mt-5 mx-auto">
	<div class="col-10 col-md-3 offset-1 mb-5">
	{% include 'about_me_card.html' %}							
	</div>
	<div class="col-10 offset-1 col-md-3 offset-md-0">
		<div class="card mb-4">
			<div class="card-header">
				Contact
			</div>
			<div class="card-body">
				<ul class="list-group list-group-flush">
					<li class="list-group-item">+44 (0) 7720 642878</li>
					<li class="list-group-item">bamiesking@gmail.com</li>
				</ul>	
			</div>
		</div>	
	</div>				
</div>
{% endblock %}