<div class="card">
<img class="card-img-top" src="https://assets.bamiesking.uk/profile_picture.jpg" alt="Profile picture">
<div class="card-body">
    <h5 class="card-title">About me</h5>
    <p class="card-text">I'm a fourth year Physics student at the University of Durham, working on a Master's project titled 'Simulation of Sisyphus cooling of hydrogen atoms for use in the search for dark matter and fifth forces'.</p>
    <p class="card-text"> I'm also a part-time online tutor, and I have an interest in Python web development and simulation of physical systems.</p>       
</div>
<div class="card-footer text-center">
    <a href="{{ url_for('main.cv') }}" class="btn btn-outline-success">Download CV</a>
</div>
</div>  