<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>{{ title }} | Ben Amies-King</title>

		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css">
		{% block head %}{% endblock %}
	</head>

	<body class="d-flex flex-column h-100">
		{% block modal %}{% endblock %}
		{% block nav %}{% endblock %}
		{% with messages = get_flashed_messages(with_categories=True)[::-1] %}
			{% if messages %}
				<div class="container">
				{% for category,message in messages %}
					<div class="alert alert-{{ category }} mt-5">
						{{ message }}
					</div>
				{% endfor %}
				</div>
			{% endif %}
		{% endwith %}
		<div class="container-fluid p-0">
			{% block content %}{% endblock %}
		</div>
		<!-- START Bootstrap-Cookie-Alert -->
		<div class="alert text-center cookiealert" role="alert">
		    <b>Do you like cookies?</b> &#x1F36A; We use cookies to ensure you get the best experience on our website. <a href="https://cookiesandyou.com/" target="_blank">Learn more</a>

		    <button type="button" class="btn btn-primary btn-sm acceptcookies">
		        I agree
		    </button>
		</div>
		<!-- END Bootstrap-Cookie-Alert -->

		<script src="https://source.zoom.us/1.7.9/lib/vendor/react.min.js"></script>
		<script src="https://source.zoom.us/1.7.9/lib/vendor/react-dom.min.js"></script>
		<script src="https://source.zoom.us/1.7.9/lib/vendor/redux.min.js"></script>
		<script src="https://source.zoom.us/1.7.9/lib/vendor/redux-thunk.min.js"></script>
		<script src="https://source.zoom.us/1.7.9/lib/vendor/jquery.min.js"></script>
		<script src="https://source.zoom.us/1.7.9/lib/vendor/lodash.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
		<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
		<script src="{{ url_for('static', filename='select.js') }}"></script>
		<script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js"></script>
		{% block scripts %}{% endblock %}
	</body>		
</html>
